/* Image.css */

/* .image-container {
  margin-top: 30px;
  margin-left: 130px;
  margin-right: 130px;
  max-width: auto;
  overflow: hidden;
  height: 400px;
} */
.image-container {
  max-width: auto;
  overflow: hidden;
  height: 400px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}
